
@model EntityLayer.Concrete.Guide
@{
    ViewData["Title"] = "AddGuide";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h1>Rehber Ekleme Sayfası</h1>
<form method="post">

    <div class="form-group">
        @Html.Label("Ad Soyad")
        <input type="text" asp-for="Name" class="form-control" />
        <span asp-validation-for="Name" class="text-danger" style="font-size:12px;"></span>
    </div>
    <br />
    <div class="form-group">
        @Html.Label("Görsel")
        <input type="text" asp-for="Image" class="form-control" />
        <span asp-validation-for="Image" class="text-danger" style="font-size:12px;"> </span>
    </div>
    <br />
    <div class="form-group">
        @Html.Label("Instagram Url")
        <input type="text" asp-for="Instagramurl" class="form-control" />
    </div>
    <br />
    <div class="form-group">
        @Html.Label("Twitter Url")
        <input type="text" asp-for="Twitterurl" class="form-control" />
    </div>
    <br />
    <div class="form-group">
        @Html.Label("Açıklama")
        <textarea cols="30" rows="5" class="form-control" asp-for="Description"></textarea>
        <span asp-validation-for="Description" class="text-danger" style="font-size:12px;"> </span>
    </div>

    <br />
    <button class="btn btn-outline-primary">Oluştur</button>
</form>

